<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form</title>

</head>
<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
      <form action="#">
        <input type="text" placeholder="Enter Your Email/შეიყვანეთ თქვენი ემაილი">
        <input type="password" placeholder="Enter Your Password/შეიყვანეთ თქვენი პაროლი">
        <a href="#">Forgot password?/დაგავიწყდათ პაროლი</a>
        <input type="button" class="button" value="Login">
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?/არ გაქვთ ანგარიში?
         <label for="check">Signup/რეგისტრაცია</label>
        </span>
      </div>
    </div>
    <div class="registration form">
      <header>Signup/რეგისტრაცია</header>
      <form action="#">
        <input type="text" placeholder="Enter your email/შეიყვანეთ თქვენი პაროლი">
        <input type="password" placeholder="Create a password/შეიყვანეთ თქვენი ემაილი">
        <input type="password" placeholder="Confirm your password/გაიმეორეთ პაროლი">
        <input type="button" class="button" value="Signup">
      </form>
      <div class="signup">
        <span class="signup">Already have an account?/გაქვთ ანგარიში?
         <label for="check">Login/შესვლა</label>
        </span>
      </div>
    </div>
  </div>
</body>
</html>